<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <logLevel/>
                <loggerName/>
                <message/>
                <mdc/>
                <arguments/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <!-- CloudWatch appender for production -->
    <springProfile name="production">
        <appender name="CLOUDWATCH" class="ca.pjer.logback.AwsLogsAppender">
            <layout>
                <pattern>%d{yyyyMMdd'T'HHmmss} %thread %level %logger{15} %msg%n</pattern>
            </layout>
            <logGroupName>/aws/fargate/verify-java-micronaut-1766584181</logGroupName>
            <logStreamUuidPrefix>verify-java-micronaut-1766584181-</logStreamUuidPrefix>
            <logRegion>us-west-2</logRegion>
            <maxBatchLogEvents>50</maxBatchLogEvents>
            <maxFlushTimeMillis>30000</maxFlushTimeMillis>
            <maxBlockTimeMillis>5000</maxBlockTimeMillis>
        </appender>
        
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="CLOUDWATCH"/>
        </root>
    </springProfile>

    <!-- Development and test profiles -->
    <springProfile name="!production">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>
</configuration>